@model App.ApplicationCore.Domain.Prestataire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestataire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appreciation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appreciation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrestataireId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrestataireId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrestataireNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrestataireNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrestatairePhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrestatairePhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrestataireTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrestataireTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifHoraire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifHoraire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialiteFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialiteFK)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
